################################################################################
# po
# https://github.com/nrobinson2000/po/blob/bbb9df3a32ead735026491dd605e11e6b940a64a/share/po-common#L880

bin/*
*.bin

#
################################################################################

################################################################################
# C++.gitignore
# https://github.com/github/gitignore/blob/2c52d023ddb520962d1aa81ab030ee5172261eb2/C%2B%2B.gitignore
#

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#
################################################################################
